@import '../../bower_components/reset.scss/reset.scss';
::-webkit-scrollbar {
	width: 0;
}
:root {
	--colorFrontElement: #fd5f00;
	--colorLightGradient: #f5f4e8;
	--colorDarkGradient: #005792;
}
input[type="radio"] {
	margin: 10px;
}
.container__firstSelection:checked {
	~ .menuPopup {
		.menuPopup__link {
			&::before {
				--colorFrontElement: #c50d66;
			}

			&::after {
				--colorFrontElement: #c50d66;
			}
		}
	}

	~ .hoverBlockWrap {
		.hoverBlockWrap__gradientBlock {
			--colorDarkGradient: #13334c;
		}
		.hoverBlockWrap__contentBlock_bg {
			--colorFrontElement: #c50d66;
		}
	}

	~ .logoWrap {
		.logoWrap__logo {
			--colorFrontElement: #c50d66;
			--colorDarkGradient: #13334c;
			--colorLightGradient: #f5f4e8;
		}
	}

	~ .burgerWrap {
		.strokeWrap__stroke {
			--colorFrontElement: #c50d66;
		}
	}

	~ .waveWrap {
		.waveWrap__waveСoordinates_orange {
			--colorFrontElement: #c50d66;
		}
		.waveWrap__waveСoordinates_blue {

		}
	}

	~ .hoverButtonWrap {
		.hoverButtonWrap__gradientBlock {
			--colorDarkGradient: #13334c;
		}
		.hoverButtonWrap__button {
			--colorFrontElement: #c50d66;
		}
	}
}

.container__secondSelection:checked {
	~ .menuPopup {
		.menuPopup__link {
			&::before {
				--colorFrontElement: #C00000;
			}

			&::after {
				--colorFrontElement: #C00000;
			}
		}
	}

	~ .hoverBlockWrap {
		.hoverBlockWrap__gradientBlock {
			--colorDarkGradient: #13334c;
			--colorLightGradient: #F8F9FC;
		}
		.hoverBlockWrap__contentBlock_bg {
			--colorFrontElement: #C00000;
		}
	}

	~ .logoWrap {
		.logoWrap__logo {
			--colorFrontElement: #C00000;
			--colorDarkGradient: #13334c;
			--colorLightGradient: #F8F9FC;
		}
	}

	~ .burgerWrap {
		.strokeWrap__stroke {
			--colorFrontElement: #C00000;
		}
	}

	~ .waveWrap {
		.waveWrap__waveСoordinates_orange {
			--colorFrontElement: #C00000;
		}
		.waveWrap__waveСoordinates_blue {

		}
	}

	~ .hoverButtonWrap {
		.hoverButtonWrap__gradientBlock {
			--colorDarkGradient: #13334c;
			--colorLightGradient: #F8F9FC;
		}
		.hoverButtonWrap__button {
			--colorFrontElement: #C00000;
		}
	}
}

.container__thirdSelection:checked {
	~ .menuPopup {
		.menuPopup__link {
			&::before {
				--colorFrontElement: #ED5485;
			}

			&::after {
				--colorFrontElement: #ED5485;
			}
		}
	}

	~ .hoverBlockWrap {
		.hoverBlockWrap__gradientBlock {
			--colorDarkGradient: #57D1C9;
			--colorLightGradient: #FFFBCB;
		}
		.hoverBlockWrap__contentBlock_bg {
			--colorFrontElement: #ED5485;
		}
	}

	~ .logoWrap {
		.logoWrap__logo {
			--colorFrontElement: #ED5485;
			--colorDarkGradient: #57D1C9;
			--colorLightGradient: #FFFBCB;
		}
	}

	~ .burgerWrap {
		.strokeWrap__stroke {
			--colorFrontElement: #ED5485;
		}
	}

	~ .waveWrap {
		.waveWrap__waveСoordinates_orange {
			--colorFrontElement: #ED5485;
		}
		.waveWrap__waveСoordinates_blue {

		}
	}

	~ .hoverButtonWrap {
		.hoverButtonWrap__gradientBlock {
			--colorDarkGradient: #57D1C9;
			--colorLightGradient: #FFFBCB;
		}
		.hoverButtonWrap__button {
			--colorFrontElement: #ED5485;
		}
	}
}

.container__fourthSelection:checked {
	~ .menuPopup {
		.menuPopup__link {
			&::before {
				--colorFrontElement: #e6462d;
			}

			&::after {
				--colorFrontElement: #e6462d;
			}
		}
	}

	~ .hoverBlockWrap {
		.hoverBlockWrap__gradientBlock {
			--colorDarkGradient: #518f8b;
			--colorLightGradient: #e3e1c8;
		}
		.hoverBlockWrap__contentBlock_bg {
			--colorFrontElement: #e6462d;
		}
	}

	~ .logoWrap {
		.logoWrap__logo {
			--colorFrontElement: #e6462d;
			--colorDarkGradient: #518f8b;
			--colorLightGradient: #e3e1c8;
		}
	}

	~ .burgerWrap {
		.strokeWrap__stroke {
			--colorFrontElement: #e6462d;
		}
	}

	~ .waveWrap {
		.waveWrap__waveСoordinates_orange {
			--colorFrontElement: #e6462d;
		}
		.waveWrap__waveСoordinates_blue {

		}
	}

	~ .hoverButtonWrap {
		.hoverButtonWrap__gradientBlock {
			--colorDarkGradient: #518f8b;
			--colorLightGradient: #e3e1c8;
		}
		.hoverButtonWrap__button {
			--colorFrontElement: #e6462d;
		}
	}
}

.container__fifthSelection:checked {
	~ .menuPopup {
		.menuPopup__link {
			&::before {
				--colorFrontElement: #FF7260;
			}

			&::after {
				--colorFrontElement: #FF7260;
			}
		}
	}

	~ .hoverBlockWrap {
		.hoverBlockWrap__gradientBlock {
			--colorDarkGradient: #505050;
			--colorLightGradient: #FFF5C3;
		}
		.hoverBlockWrap__contentBlock_bg {
			--colorFrontElement: #FF7260;
		}
	}

	~ .logoWrap {
		.logoWrap__logo {
			--colorFrontElement: #FF7260;
			--colorDarkGradient: #505050;
			--colorLightGradient: #FFF5C3;
		}
	}

	~ .burgerWrap {
		.strokeWrap__stroke {
			--colorFrontElement: #FF7260;
		}
	}

	~ .waveWrap {
		.waveWrap__waveСoordinates_orange {
			--colorFrontElement: #FF7260;
		}
		.waveWrap__waveСoordinates_blue {

		}
	}

	~ .hoverButtonWrap {
		.hoverButtonWrap__gradientBlock {
			--colorDarkGradient: #505050;
			--colorLightGradient: #FFF5C3;
		}
		.hoverButtonWrap__button {
			--colorFrontElement: #FF7260;
		}
	}
}
.container {
	max-width: 100%;
	width: 960px;
	margin: 0 auto;
	padding: 5px;

	&__loaderWrap{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 9999;
		overflow: hidden;

		.loader {
			display: block;
			position: relative;
			left: 50%;
			top: 50%;
			width: 150px;
			height: 150px;
			margin: -75px 0 0 -75px;
			border-radius: 50%;
			border: 3px solid transparent;
			border-top-color: var(--colorFrontElement);
			animation: spin 1.7s linear infinite;
			z-index: 11;

			&:before {
				content: "";
				position: absolute;
				top: 5px;
				left: 5px;
				right: 5px;
				bottom: 5px;
				border-radius: 50%;
				border: 3px solid transparent;
				border-top-color: var(--colorFrontElement);
				animation: spin-reverse .6s linear infinite;
			}

			&:after {
				content: "";
				position: absolute;
				top: 15px;
				left: 15px;
				right: 15px;
				bottom: 15px;
				border-radius: 50%;
				border: 3px solid transparent;
				border-top-color: var(--colorFrontElement);
				animation: spin 1s linear infinite;
			}
		}
		@keyframes spin {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
		@keyframes spin-reverse {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(-360deg);
			}
		}

		.loaderSection {
			position: fixed;
			top: 0;
			width: 51%;
			height: 100%;
			background: #222;
			z-index: 10;

			&_left {
				left: 0;
			}

			&_right {
				right: 0;
			}
		}

		&.container__loaderWrap_loaded {
			visibility: hidden;
			transform: translateY(-100%);
			transition: all 0.3s 1s ease-out;

			.loader {
				opacity: 0;
				transition: all 0.3s ease-out;
			}

			.loaderSection_left {
				transform: translateX(-100%);
				transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
			}
			.loaderSection_right {
				transform: translateX(100%);
				transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
			}
		}
	}
}
.menuPopup {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;

	&__itemWrap {
		position: absolute;
		background: #13334c;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		margin: 0 auto;

		.menuPopup__link {
			text-decoration: none;
			font-family: 'Roboto', sans-serif;
			font-size: 25px;
			letter-spacing: 3px;
			color: #f6f6e9;
			position: relative;
			margin-bottom: 30px;
			/*transition: all .2s;*/
			overflow: hidden;
			cursor: pointer;

			&:hover {

				&::before {
					left: 100%;
				}

				&::after {
					left: 0%;
				}
			}

			&::before {
				content: "";
				position: absolute;
				top: 0px;
				left: -100%;
				width: 100%;
				height: 100%;
				background: var(--colorFrontElement);
				z-index: 99;
				transition: all 0.4s cubic-bezier(0.7, 0, 0.3, 1);
			}

			&::after {
				content: "";
				position: absolute;
				top: 50%;
				margin-top: -2px;
				left: 100%;
				width: 100%;
				height: 4px;
				background: var(--colorFrontElement);
				transition: all .3s;
				transition-delay: .4s;
			}

			&:last-child {
				margin-bottom: 0px;
			}
		}
	}
}
.js {
	.menuPopup {
		pointer-events: none;
	}

	.js-menuPopup_open {
		pointer-events: visible;
	}
}
.js .menuPopup__link {
	transform: translate3d(0,50px,0);
	opacity: 0;
	transition: transform 0s 0.6s, opacity 0s 0.6s;
}
.js-menuPopup_open {

	.menuPopup__link {
		opacity: 1;
		transform: translate3d(0,0,0);
		transition: transform 1s 0.3s, opacity 1s 0.3s;
		transition-timing-function: cubic-bezier(0.2,1,0.2,1);

		&:nth-child(2) {
			transition-delay: 0.35s;
		}

		&:nth-child(3) {
			transition-delay: 0.40s;
		}

		&:nth-child(4) {
			transition-delay: 0.45s;
		}

		&:nth-child(5) {
			transition-delay: 0.50s;
		}

		&:nth-child(6) {
			transition-delay: 0.55s;
		}
	}
}
.blockRevealer__element{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	pointer-events: none;
	opacity: 0;
	z-index: 50;
}
.paletteWrap {

	& &__titleBox {
		width: 100%;
		padding: 10px;
		text-align: center;

		.paletteWrap__title {
			font-family: 'OpenSans', sans-serif;
			font-size: 24px;
		}
	}

	& &__item {
		padding: 5px;
		margin-bottom: 10px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

		.paletteWrap__titleItemBox {
			width: 100%;
			text-align: center;

			.paletteWrap__titleItem {
				font-family: 'OpenSans', sans-serif;
				font-size: 18px;
				margin: 5px;
			}

			.paletteWrap__nameColors {
				font-family: 'OpenSans', sans-serif;
				font-size: 16px;
				margin: 5px;
			}
		}

		.paletteWrap__schemeBox {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			width: 100%;
		}

		.paletteWrap__colorScheme {
			margin: 15px;
			border-radius: 5px;
			overflow: hidden;
			box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

			.paletteWrap__colorItem {
				display: block;
				float: left;
			}

			&_square {
				width: 100px;
				height: 100px;

				.paletteWrap__colorItem {
					width: 50%;
					height: 50%;
				}
			}

			&_vertical {
				width: 50px;
				height: 200px;

				.paletteWrap__colorItem {
					width: 100%;
					height: 25%;
				}
			}

			&_horizontal {
				width: 200px;
				height: 50px;

				.paletteWrap__colorItem {
					width: 25%;
					height: 100%;
				}
			}
		}
	}
}

.hoverBlockWrap {

	& &__titleBox {
		width: 100%;
		padding: 10px;
		text-align: center;

		.hoverBlockWrap__title {
			font-family: 'OpenSans', sans-serif;
			font-size: 24px;
		}
	}

	& &__item {
		padding: 5px;
		margin-bottom: 10px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

		.hoverBlockWrap__titleItemBox {
			width: 100%;
			text-align: center;

			.hoverBlockWrap__titleItem {
				font-family: 'OpenSans', sans-serif;
				font-size: 18px;
				margin: 5px;
			}

			.hoverBlockWrap__nameTypes {
				font-family: 'OpenSans', sans-serif;
				font-size: 16px;
				margin: 5px;
			}
		}

		.hoverBlockWrap__setBox {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			width: 100%;
		}

		.hoverBlockWrap__hoverBlock {
			position: relative;
			margin: 5px 10px;

			&_square {
				width: 220px;
				height: 220px;

				.hoverBlockWrap__gradientBlock {
					width: 200px;
					height: 200px;
				}
				.hoverBlockWrap__contentBlock {
					width: 200px;
					height: 200px;
				}
			}

			&_vertical {
				width: 220px;
				height: 320px;

				.hoverBlockWrap__gradientBlock {
					width: 200px;
					height: 300px;
				}
				.hoverBlockWrap__contentBlock {
					width: 200px;
					height: 300px;
				}
			}

			&_horizontal {
				width: 320px;
				height: 220px;

				.hoverBlockWrap__gradientBlock {
					width: 300px;
					height: 200px;
				}
				.hoverBlockWrap__contentBlock {
					width: 300px;
					height: 200px;
				}
			}

			.hoverBlockWrap__gradientBlock {
				position: absolute;
				background: repeating-linear-gradient(135deg, var(--colorLightGradient), var(--colorLightGradient) 10px, var(--colorDarkGradient) 10px, var(--colorDarkGradient) 20px);
				box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

				&_tl {

				}

				&_tr {
					right: 0
				}

				&_bl {
					bottom: 0;
				}

				&_br {
					bottom: 0;
					right: 0;
				}
			}
			.hoverBlockWrap__contentBlock {
				position: absolute;
				box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
				transition: all 0.5s;

				&_bg {
					background-color: var(--colorFrontElement);
				}

				&_tl {

				}

				&_tr {
					right: 0
				}

				&_bl {
					bottom: 0;
				}

				&_br {
					bottom: 0;
					right: 0;
				}
			}

			&:hover {
				.hoverBlockWrap__contentBlock {
					&_tl {
						margin: 20px 0 0 20px;
					}

					&_tr {
						margin: 20px 20px 0 0;
					}

					&_bl {
						margin: 0 0 20px 20px;
					}

					&_br {
						margin: 0 20px 20px 0;
					}
				}
			}
		}
	}
}

.logoWrap {

	& &__titleBox {
		width: 100%;
		padding: 10px;
		text-align: center;

		.logoWrap__title {
			font-family: 'OpenSans', sans-serif;
			font-size: 24px;
		}
	}

	& &__item {
		padding: 5px;
		margin-bottom: 10px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

		.logoWrap__titleItemBox {
			width: 100%;
			text-align: center;

			.logoWrap__titleItem {
				font-family: 'OpenSans', sans-serif;
				font-size: 18px;
				margin: 5px;
			}

			.logoWrap__nameEffect {
				font-family: 'OpenSans', sans-serif;
				font-size: 16px;
				margin: 5px;
			}
		}

		.logoWrap__effectBox {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			width: 100%;
		}

		$primaryColor: var(--colorFrontElement);
		$secondaryColor: #fff;
		$steps: 20;

		.logoWrap__logo {
			position: relative;
			font-family: 'Roboto', sans-serif;
			// font-size: 7em;
			font-size: 98px;
			font-weight: 700;
			text-transform: uppercase;
			text-shadow: 6px -6px 0px var(--colorFrontElement);
			background: repeating-linear-gradient(45deg, var(--colorDarkGradient), var(--colorDarkGradient) 1px, var(--colorLightGradient) 2px, var(--colorLightGradient) 3px);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;

			&::before,
			&::after {
				content: attr(data-text);
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				overflow: hidden;
				background: $secondaryColor;
				color: $primaryColor;
				clip: rect(0, 900px, 0, 0);
			}

			&::before {
				left: 7px;
				text-shadow: 1px 0 var(--colorFrontElement);
				animation: glitch-effect 3s infinite linear alternate-reverse;
			}

			&::after {
				left: 3px;
				text-shadow: -1px 0 var(--colorFrontElement);
				animation: glitch-effect 2s infinite linear alternate-reverse;
			}
		}

		@keyframes glitch-effect{
			@for $i from 0 through $steps{
				#{percentage($i*(1/$steps))}{
					clip:rect(random(100)+px,9999px,random(100)+px,0);
				}
			}
		}
	}
}

.burgerWrap {

	& &__titleBox {
		width: 100%;
		padding: 10px;
		text-align: center;

		.burgerWrap__title {
			font-family: 'OpenSans', sans-serif;
			font-size: 24px;
		}
	}

	& &__item {
		padding: 5px;
		margin-bottom: 10px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

		.burgerWrap__titleItemBox {
			width: 100%;
			text-align: center;

			.burgerWrap__titleItem {
				font-family: 'OpenSans', sans-serif;
				font-size: 18px;
				margin: 5px;
			}

			.burgerWrap__nameTypes {
				font-family: 'OpenSans', sans-serif;
				font-size: 16px;
				margin: 5px;
			}
		}

		.burgerWrap__typeBox {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			width: 100%;
			margin: 20px 0;
		}

		.burgerAround {

			&__burgerWrap {
				z-index: 5;
			}

			&__burgerBox {
				display: block;
				width: 50px;
				height: 50px;
				cursor: pointer;

				.strokeWrap__stroke {
					fill: none;
					stroke: var(--colorFrontElement);
					stroke-width: 3;
					stroke-linecap: round;
					stroke-linejoin: round;
					--length: 24;
					--offset: -38;
					stroke-dasharray: var(--length) var(--total-length);
					stroke-dashoffset: var(--offset);
					transition: all .8s cubic-bezier(.645, .045, .355, 1);

					&_first,
					&_third {
						--total-length: 126.64183044433594;
					}

					&_second {
						--total-length: 70;
					}
				}
			}

			.burgerInput {
				display: none;

				&:checked {
					+ .strokeWrap {
						.strokeWrap__stroke_first,
						.strokeWrap__stroke_third {
							--length: 22.627416998;
							--offset: -94.1149185097;
						}

						.strokeWrap__stroke_second {
							--length: 0;
							--offset: -50;
						}  
					}
				}
			}
		}

		.joinAround {

			&__burgerWrap {
				z-index: 5;
			}

			&__burgerBox {
				display: block;
				width: 50px;
				height: 50px;
				cursor: pointer;

				.strokeWrap__stroke {
					fill: none;
					stroke: var(--colorFrontElement);
					stroke-width: 3;
					stroke-linecap: round;
					stroke-linejoin: round;
					--length: 24;
					--offset: -38;
					stroke-dasharray: var(--length) var(--total-length);
					stroke-dashoffset: var(--offset);
					transition: all .8s cubic-bezier(.645, .045, .355, 1);

					&_first,
					&_third {
						--total-length: 111.22813415527344;
						--offset: -50.22813415527344;
					}

					&_second {
						--total-length: 99;
					}
				}
			}

			.burgerInput {
				display: none;

				&:checked {
					+ .strokeWrap {
						.strokeWrap__stroke_first,
						.strokeWrap__stroke_third {
							--length: 22.627416998;
							--offset: -16.9705627485;
						}

						.strokeWrap__stroke_second {
							--length: 0;
							--offset: -20;
						}

						.strokeWrap__stroke {
							transform: translateX(30px);
						}
					}
				}
			}
		}
	}

}

.waveWrap {

	& &__titleBox {
		width: 100%;
		padding: 10px;
		text-align: center;

		.waveWrap__title {
			font-family: 'OpenSans', sans-serif;
			font-size: 24px;
		}
	}

	& &__item {
		padding: 5px;
		margin-bottom: 10px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

		.waveWrap__titleItemBox {
			width: 100%;
			text-align: center;

			.waveWrap__titleItem {
				font-family: 'OpenSans', sans-serif;
				font-size: 18px;
				margin: 5px;
			}

			.waveWrap__nameTypes {
				font-family: 'OpenSans', sans-serif;
				font-size: 16px;
				margin: 5px;
			}
		}

		.waveWrap__setBox {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			width: 100%;
			margin: 20px 0;
		}

		.waveWrap__wavesContainer {
			position: relative;
			overflow: hidden;
			margin: 20px;
			z-index: 2;

			&_lg {
				width: 100px;
				height: 70px;

				.waveWrap__wave {
					&:nth-of-type(1) {
						margin-top: -10px;
					}

					&:nth-of-type(2) {
						margin-top: -40px;
					}

					&:nth-of-type(3) {
						margin-top: -40px;
					}
				}

				.waveWrap__waveСoordinates {
					width: 100px;
				}
			}

			&_md {
				width: 50px;
				height: 50px;

				.waveWrap__wave {
					&:nth-of-type(1) {
						margin-top: -20px;
					}

					&:nth-of-type(2) {
						margin-top: -45px;
					}

					&:nth-of-type(3) {
						margin-top: -45px;
					}
				}

				.waveWrap__waveСoordinates {
					width: 50px;
				}
			}

			&_sm {
				width: 25px;
				height: 25px;

				.waveWrap__wave {
					&:nth-of-type(1) {
						margin-top: -25px;
					}

					&:nth-of-type(2) {
						margin-top: -55px;
					}

					&:nth-of-type(3) {
						margin-top: -55px;
					}
				}

				.waveWrap__waveСoordinates {
					width: 25px;
				}
			}

			.waveWrap__waveСoordinates {
				fill: none;
				stroke-miterlimit: 10;
				stroke-width: 4px;
				stroke-linecap: round;
				stroke-dasharray: 0 0 0 0;
				z-index: 3;

				&.waveWrap__waveСoordinates_orange {
					stroke: var(--colorFrontElement);
				}

				&.waveWrap__waveСoordinates_blue {
					stroke: var(--colorDarkGradient);
				}

				&.waveWrap__waveСoordinates_9s {
					animation: moveTheWave 900ms linear infinite;
				}

				&.waveWrap__waveСoordinates_7s {
					animation: moveTheWave 700ms linear infinite;
				}

				&.waveWrap__waveСoordinates_5s {
					animation: moveTheWave 500ms linear infinite;
				}
			}

			@keyframes moveTheWave {
				0% {
					stroke-dashoffset: 0;
					transform: translate3d(0, 0, 0);
				}
				100% {
					stroke-dashoffset: 40;
					transform: translate3d(-73px, 0, 0);
				}
			}
		}
	}
}

.hoverButtonWrap {

	& &__titleBox {
		width: 100%;
		padding: 10px;
		text-align: center;

		.hoverButtonWrap__title {
			font-family: 'OpenSans', sans-serif;
			font-size: 24px;
		}
	}

	& &__item {
		padding: 5px;
		margin-bottom: 10px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

		.hoverButtonWrap__titleItemBox {
			width: 100%;
			text-align: center;

			.hoverButtonWrap__titleItem {
				font-family: 'OpenSans', sans-serif;
				font-size: 18px;
				margin: 5px;
			}

			.hoverButtonWrap__nameTypes {
				font-family: 'OpenSans', sans-serif;
				font-size: 16px;
				margin: 5px;
			}
		}

		.hoverButtonWrap__setBox {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			width: 100%;
			margin: 20px 0;
		}

		.hoverButtonWrap__hoverBlock {
			position: relative;
			width: 170px;
			height: 55px;
			margin: 20px;
			cursor: pointer;

			.hoverButtonWrap__gradientBlock {
				position: absolute;
				width: 160px;
				height: 45px;
				background: repeating-linear-gradient(135deg, var(--colorLightGradient), var(--colorLightGradient) 10px, var(--colorDarkGradient) 10px, var(--colorDarkGradient) 20px);
				box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

				&_tl {

				}

				&_tr {
					right: 0;
				}

				&_bl {
					bottom: 0;
				}

				&_br {
					bottom: 0;
					right: 0;
				}
			}

			.hoverButtonWrap__button {
				width: 160px;
				height: 45px;
				padding: 10px 25px;
				font-family: "Roboto", sans-serif;
				font-size: 12px;
				color: var(--colorFrontElement);
				background: #fff;
				border: 2px solid var(--colorFrontElement);
				transition: all 0.3s ease;
				position: absolute;
				z-index: 1;
				box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
				cursor: pointer;

				&_tl {

				}

				&_tr {
					right: 0;
				}

				&_bl {
					bottom: 0;
				}

				&_br {
					bottom: 0;
					right: 0;
				}

				&:after {
					position: absolute;
					content: "";
					width: 0;
					height: 100%;
					top: 0;
					right: 0;
					z-index: -1;
					background: var(--colorFrontElement);
					transition: all 0.5s ease;
				}
			}

			&:hover {
				.hoverButtonWrap__button {
					// margin: 10px 10px 0 0;
					color: #fff;

					&_tl {
						margin: 10px 0 0 10px;
					}

					&_tr {
						margin: 10px 10px 0 0;
					}

					&_bl {
						margin: 0 0 10px 10px;
					}

					&_br {
						margin: 0 10px 10px 0;
					}

					&:after {
						left: 0;
						width: 100%;
					}
				}
			}
		}
	}
}

.hoverPortfolioWrap {
	& &__titleBox {
		width: 100%;
		padding: 10px;
		text-align: center;

		.hoverPortfolioWrap__title {
			font-family: 'OpenSans', sans-serif;
			font-size: 24px;
		}
	}

	& &__item {
		padding: 5px;
		margin-bottom: 10px;
		box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

		.hoverPortfolioWrap__titleItemBox {
			width: 100%;
			text-align: center;

			.hoverPortfolioWrap__titleItem {
				font-family: 'OpenSans', sans-serif;
				font-size: 18px;
				margin: 5px;
			}

			.hoverPortfolioWrap__nameTypes {
				font-family: 'OpenSans', sans-serif;
				font-size: 16px;
				margin: 5px;
			}
		}

		.hoverPortfolioWrap__typeBox {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			width: 100%;
			margin: 20px 0;
		}

		.hoverPortfolioWrap__jobBlock {
			position: relative;
			float: left;
			overflow: hidden;
			margin: 10px 1%;
			width: 380px;
			height: 260px;
			background: #3085a3;
			text-align: center;
			cursor: pointer;

			.hoverPortfolioWrap__img {
				position: relative;
				display: block;
				height: 100%;
				width: 100%;
				opacity: 0.8;
			}

			.hoverPortfolioWrap__slideSlice {
				padding: 2em;
				text-transform: uppercase;
				font-size: 1.25em;
				backface-visibility: hidden;
				position: absolute;
				width: 100%;
				bottom: 0;
				height: 1.5em;
				background: #fff;
				color: #3c4a50;
				transition: transform 0.35s;
				transform: translate3d(0,100%,0);

				&:before,
				&:after {
					pointer-events: none;
				}

				.hoverPortfolioWrap__nameLogo {
					word-spacing: -0.15em;
					// font-weight: 300;
					font-family: 'Roboto', sans-serif;
					// margin-left: -80px;
					margin-top: -20px;
					ext-align: center;
					transition: transform 0.35s;
					transform: translate3d(0,200%,0);
					display: inline-block;
				}
			}

			&:hover {
				.hoverPortfolioWrap__slideSlice,
				.hoverPortfolioWrap__nameLogo {
					transform: translate3d(0,0,0);
				}

				.hoverPortfolioWrap__nameLogo {
					transition-delay: 0.1s;
				}
			}
		}
	}
}
$colorPalette: (
	1	: #f5f4e8,
	2	: #c50d66,
	3	: #f07810,
	4	: #eec60a,

	5	: #13334c,
	6	: #005792,
	7	: #f6f6e9,
	8	: #fd5f00,

	9	: #57D1C9,
	10	: #ED5485,
	11	: #FFFBCB,
	12	: #FFE869,

	13	: #F8F9FC,
	14	: #C00000,
	15	: #DE3C3C,
	16	: #F7B32D,

	17	: #003246,
	18	: #E4491C,
	19	: #0387B1,
	20	: #F5F5F5,

	21	: #ff5108,
	22	: #fffdf8,
	23	: #ff2321,
	24	: #000000,

	25	: #7abed1,
	26	: #f05945,
	27	: #f7f3e9,
	28	: #f05945,

	29	: #FFFC31,
	30	: #F6F7EB,
	31	: #E94F37,
	32	: #393E41,

	33	: #518f8b,
	34	: #e3e1c8,
	35	: #472c33,
	36	: #e6462d,

	37	: #c12127,
	38	: #2a333c,
	39	: #ffffff,
	40	: #8f9299,

	41	: #EDEDE4,
	42	: #F74906,
	43	: #554E44,
	44	: #FFFFFF,

	45	: #221E1D,
	46	: #ECEAE0,
	47	: #63AA9C,
	48	: #E9633B,

	49	: #a10015,
	50	: #d52b15,
	51	: #efeee9,
	52	: #beb1b4,

	53	: #222831,
	54	: #393E46,
	55	: #FD7013,
	56	: #EEEEEE,

	57	: #FF7260,
	58	: #9BD7D5,
	59	: #FFF5C3,
	60	: #505050,

	61	: #FF3B1D,
	62	: #7BDFF2,
	63	: #000000,
	64	: #FFFFFF
);

@each $hex, $color in $colorPalette {
	.paletteWrap__colorItem_#{$hex} {
		background-color: $color;
	}
}